{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adham Dweck's Black box investigation</title>
    <link rel="{% static 'core/stylesheet' %}" href="{% static 'core/style.css' %}">
  </head>
  <body>

<h1>Its me Black Box investigation</h1>
<h3>By Adham</h3>


<h2>Background</h2>
<p id="background">In Mr. Sinuses class we were tasked to figure out what is inside this box called the Mystery Black box. The mystery black box is a black box that has a funnel and tube coming out of it. When we pour water into the funnel it may come out sometimes but sometimes it doesn't come out. In the New media and tech class we were challenged to design one without knowing what is inside the real one to recreate the effect of getting more less and none sometimes.</p>


<h2>Claim</h2>
<p>I believe there is tubing and a box to store extra water that's not needed or doesn't flow out to add the effect of extra water coming out.</p>

<h2>Evidence</h2>
<p>Our evidence was that it had to have space to store water. Because when we poured water into it the first few times it wouldn't have water coming out but, then sometimes we had more water come out and even less, (look at table 1) when sometimes we poured in 880mL and got 890mL out.
     In our black box we put a box inside our black box to store water while we pour it and so it doesn't come out always and store water for a later time without leaking minimal sound and so sometimes more comes out during the pour.</p>


<img class="side-by-side" src="{% static 'core/Red4bTeamWorking.jpg' %}" alt="
	A imagine of team 4b red working"
	Width=500>

<img class="side-by-side" src="{% static 'core/Team4bBuilding.jpg' %}" alt="
	A imagine of team 4b red working"
	Width=500>


<h2>Reasing, Part1</h2>
<p>Models are representations of a design to show/ demo something or prove something. Models are useful because they help you imagine different ideas that are possible and disprove some. Limits of a model would be that they aren't made from the same material as the actual product but also are similar and strengths of a model is a way to try different ideas.</p>

<h2>Reasoning, Part2</h2>
<p>The evidence I have supports my claim  that there is a bucket to store extra water. Because it shows why sometimes more or less water comes out when you pour water in.</p>


<h2>Reasoning, Part3</h2>
<p>Another idea people believe in is the tipping bucket but then that doesn't make sense because if there is a tipping bucket then once it tips over it would tip back again and stay over and the water will go everywhere.</p>

<img src="{% static 'core/AdhamBlackBox_FRAME_120.jpg' %}" alt="
	a rendered image of Adham Dwecks 3d model"
	Width=500>
<h3>Mr.Sinusas Black Box Table</h3>
<table>
  <tr>
    <th>Trials</th>
    <th>Volume of water Input (mL)</th>
    <th>Volume of Water Output (mL)</th>
    <th>Delay (s) from the pour and then from the start of the drop</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1000mL</td>
    <td>0mL</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>1000mL</td>
    <td>712mL</td>
    <td>98s</td>
  </tr>
 <tr>
    <td>3</td>
    <td>1000mL</td>
    <td>450mL</td>
    <td>7s</td>
  </tr>
 <tr>
    <td>4</td>
    <td>880mL</td>
    <td>630mL</td>
    <td>59s</td>
  </tr>
 <tr>
    <td>5</td>
    <td>800mL</td>
    <td>870mL</td>
    <td>130s</td>
  </tr>
 <tr>
    <td>6</td>
    <td>880mL</td>
    <td>890mL</td>
    <td>64s</td>
  </tr>
 <tr>
    <td>7</td>
    <td>1000mL</td>
    <td>530mL</td>
    <td>75s</td>
  </tr>

</table>

<h3>Team Red 4B data Table</h3>
<table>
  <tr>
    <th>Trials</th>
    <th>Volume of water Input (mL)</th>
    <th>Volume of Water Output (mL)</th>
    <th>Delay (s) from the pour and then from the start of the drop</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1100mL</td>
    <td>540mL</td>
    <td>10.833s</td>
  </tr>
  <tr>
    <td>2</td>
    <td>160mL</td>
    <td>532mL</td>
    <td>10.836s</td>
  </tr>
 <tr>
    <td>3</td>
    <td>145mL</td>
    <td>522mL</td>
    <td>9.8s</td>
  </tr>
 <tr>
    <td>4</td>
    <td>1000mL</td>
    <td>880mL</td>
    <td>15.322s</td>
  </tr>
 <tr>
    <td>5</td>
    <td>1000mL</td>
    <td>860mL</td>
    <td>45s</td>
  </tr>
 <tr>
    <td>6</td>
    <td>870mL</td>
    <td>500mL</td>
    <td>86s</td>
  </tr>
 <tr>
    <td>7</td>
    <td>5000mL</td>
    <td>1000mL</td>
    <td>97s</td>
  </tr>

</table>

<video width="500" height="500" autoplay muted loop>
  <source src="{% static 'core/AdhamD_Recording.mp4' %}" type="video/mp4">
</video>


<h2> My time with the 3D/AR</h2>
<a href="https://adobeaero.app.link/uwB5rfVg9Nb">My AR of My BlackBox</a>
<img src="{% static 'core/AdhamDweck_Ar_blackBox QR Code.png' %}" alt="
	a rendered image of Adham Dwecks 3d model in real life VR QR code"
	Width=500>

<p> To do 3D work we used a Maya AutoDesk it was a very difficult job coding little things to make  it all one big working box that water flows in and out of. Things we used in maya were extrude to make things thicker and give them a define depth and size aswell as copy and paste to remake critical parts that are hard to make in the first place. </p>

	<img class="side-by-side" src="{% static 'core/AdhamBlackBox_FRAME_45.jpg' %}" alt="
	a rendered image of Adham Dwecks 3d model"
	Width=500>
<img class="side-by-side" src="{% static 'core/AdhamBlackBox_irl.jpg' %}" alt="
	a rendered image of Adham Dwecks 3d model in real life VR"
	Width=500>
<img src="{% static 'core/AdhamD_Handsome_workingOnTheBlackBox.jpg' %}" alt="
	a image of Team Red working"
	Width=500>

<h2>Reflection</h2>
	<p> We spent several week Planning out what we wanted to do and then when we started making the project it took us a week with many mistakes and needing to go back to the drawing boards several times to achevive are final project that we thought was most accurate to what we thought it was. We all had parts that had to be done for the end product if one of us even slacked off a little bit wouldnt have work.
<img src="{% static 'core/CollabContract.jpg' %}" alt="
	A imagine of team 4b red working on a collab contract"
	Width=500>

<h2>21 First Century Skill</h2>
	<p> The skills I used a lot were problem-solving and critical thinking because when we were making are black box we had a error in are box were water spill out so we had to figure it out and make it unpredictable like the real black box was. when. Another thing was when we were autodesk inventoring are 3d versions I was animating how the water would look coming through it which was me critically thinking of all the angles it needs to hit.<p>
  </body>
</html>


